* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Stabillo Medium";
    scroll-behavior: auto !important;
}

::selection {
    background-color: rgb(0, 240, 248);
}

.bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: brightness(0.4);

}

.overlay {
    background-color: rgba(127, 255, 212, 0.219);
    width: 80%;
    height: 100%;
    margin: 0 auto;
    border: 3px solid turquoise;
    /* margin-top: 2%; */
    text-align: center;
    overflow: visible;
    border-top: hidden;
    border-bottom: hidden;


}

.mainIcon {
    width: 120px;
}

a {
    text-decoration: none;
}

h1 {
    font-family: "BlackCastleMF";
    color: turquoise;
    font-size: 5rem;
    letter-spacing: 5px;
    font-weight: 100;
    text-shadow: 2px 2px 3px rgb(0, 84, 133),
        -2px 2px 4px rgb(0, 84, 133),
        2px -2px 5px rgb(0, 84, 133),
        -2px -2px 6px rgb(0, 84, 133);
}

h2 {
    font-family: "Death Record";
    color: turquoise;
    font-size: 4rem;
    letter-spacing: 5px;
    font-weight: 100;
    margin-bottom: 50px;
    margin-top: 10px;
    text-shadow: 2px 2px 3px rgb(0, 51, 80),
        -2px 2px 4px rgb(0, 47, 75),
        2px -2px 5px rgb(3, 51, 78),
        -2px -2px 6px rgb(0, 43, 68);
}

.FlexPadre {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
    align-content: flex-start;
    height: 100%;
    gap: 40px;
}

.FlexPadre div {
    display: flex;
}

.avatar {
    width: 15%;
    height: 200px;
}

div p {
    text-align: justify;
    color: aqua;
    font-size: 1.8rem;
    font-family: Stabillo Medium;
    text-shadow: 2px 2px 3px black,
        -2px 2px 4px black,
        2px -2px 5px black,
        -2px -2px 6px black;
    margin: 2rem;
    width: 85%;
}

.nav-custom {
    width: min-content;
}

.nav-custom img {
    width: 5vw;
}

.nav-custom2 {
    position: fixed;
    top: 12%;
    right: 0;
    left: 0;
    z-index: 1029;
}

.nav-link:hover {
    filter: hue-rotate(45deg);
}

.buscador {
position: fixed !important; right: 2px !important; top: 0 !important;

}

.h3-simulator {
    font-size: 3rem;
    font-family: Dungeon;
    letter-spacing: 3px;
    color: rgb(0, 183, 255)
}

.titulo-avatar-relativo {
    position: relative;
}

.titulo-avatar-absoluto {
    position: absolute;
    top: 140px;
    font-family: Scurlock;
    font-size: 2.8rem;
    left: -1%;
    color: rgb(0, 255, 191);
}

.dropdown-item {
    color: turquoise !important;
    font-size: 1.4rem !important;
}

.flecha {
    width: 8rem;
    rotate: 90deg;
}

.boton-para-subir {
    position: fixed;
    right: 0.1%;
    bottom: 3%;

}

.boton-para-home {
    position: fixed;
    right: 0.3%;
    bottom: 15%;

}

/* Estilo para toda la barra de desplazamiento */
::-webkit-scrollbar {
    width: 12px; /* Ancho de la barra de desplazamiento */
    height: 6px; /* Alto para scroll horizontal */
}

/* Estilo para la parte deslizante (thumb) */
::-webkit-scrollbar-thumb {
    background-color:aqua; /* Color del thumb */
    border-radius: 10px; /* Bordes redondeados */
    border: 3px solid #009b9b; /* Borde alrededor del thumb */
}

/* Estilo para la pista de la barra de desplazamiento */
::-webkit-scrollbar-track {
    background-color: #0c0c0c; /* Color de la pista */
}

/* Cambiar el color del thumb cuando se pasa el ratón por encima */
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(0, 230, 199);
}

ul { overflow-y:scroll;
    max-height: 80vh;
}